body{
     background-image: url("backgroundimage.webp");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position:center;
     background-size:cover;
     

}
h1{
    border-top-style: dotted;
    border-bottom-style:dotted;
    border-left-style:double;
    border-left-color: silver;
    color:white;
    font-family:"Press Start 2P","consolas",sans-serif;
    background:linear-gradient(skyblue,lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    color:red;
    font-family: "consolas",sans-serif;
    font-style:italic;
    font-weight:bold;
    text-decoration: underline;
    font-size: 18px;
}
#p1{
    color:tomato;
    border-style:outset;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;

}

.odd{
    color:green;
}
.even{
    color:blue;
}
#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size:22px;
    background: greenyellow;
    margin-top:50px;
    margin-left:50px;
}
#box2{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size:22px;
    background: rgb(186, 127, 19)
}
#box3{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color:skyblue;
    position:sticky;
    

    top: 0px;
    left:0px;
}
#box4{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color:rgb(219, 107, 22);
    position:absolute;
    top:150px;
    left: 150px;

}
a:link{
    color:lawngreen;
}
a:visited{
    color:grey;
}
a:hover{
    color:tomato;
}
a:active{
    color:yellow;
}
button:hover{
 background-color:lightgrey;
}
button:active{
    background-color:white;
}
/*
li:nth-child(1){
    background-color:yellow;
}
*/
h3{
    text-shadow: 0px 5px 5px grey;
    
}
h3:hover{
    box-shadow: 5px 5px 5px black;
}
#box6{
   border: 4px solid;
   width:450px;
   height:250px;
   font-size:225px;
   text-align:center;
   background:lightblue;


  animation: mySlide;
  animation-duration:5s;
}
@keyframes mySlide{
    from{margin-left:100%;}
    to{margin-left:0%;}
}